[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi" 

[packages]

braceexpand = "*"
emoji = "*"
jinja2 = "*"
lxml = "*"
Pillow = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"

[requires]

python_version = "3"
