[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

pyyaml = "*"
python-dateutil = "*"
jinja2 = "*"
emoji = "*"
Pillow = "*"
braceexpand = "*"

[requires]

python_version = "3"
