body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.sidebar-layout {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.content {
    height: 100vh;
    overflow: scroll;
}

.conversations {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: scroll;
    background-color: #fafafa;
}

.conversations li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em;
}

.conversations li a:hover {
    background-color: #eee;
}

.conversations li a.active {
    background-color: #ddd;
}

.empty {
    color: grey;
    text-align: center;
}

.conversation {
    margin: auto;
    max-width: 800px;
}

.images {
    max-width: 100%;
}

.images img {
    max-width: 100%;
    height: 100px;
}

.batch {
    display: grid;
    grid-template-columns: minmax(auto, 10%) 1fr minmax(auto, 10%);
    grid-gap: 1em;
    margin-bottom: 1em;
}

.batch img {
    max-width: 100%;
    border-radius: 16px;
}

video {
    max-width: 100%;
}

.incoming > .messages {
    text-align: left;
}

.outgoing > .messages {
    text-align: right;
}

.timestamp {
    color: #aaa;
    font-size: 0.9em;
    margin-bottom: 1em;
    display: none;
}

.message {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 1em;
    margin-bottom: 8px;
    background-color: #027cfe;
    color: white;
    text-align: left;
    border-radius: 16px;
}

.incoming .message {
    background-color: #e9e8eb;
    color: black;
}

.incoming .message a {
    color: black;
}

.outgoing .message a {
    color: white;
}

.emoji {
    font-size: 2em;
}

.person {
    text-align: right;
}

.person.primary {
    text-align: left;
}
